# Core app
streamlit==1.47.1
streamlit-folium==0.25.1
scikit-learn==1.5.2
prophet==1.1.5

# Data handling & analysis
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
statsmodels==0.14.5
pyarrow
pydeck==0.9.1
openpyxl==3.1.5

# Visualization
altair==5.5.0
matplotlib==3.10.5
folium==0.20.0
branca==0.8.1

# Utilities
requests
protobuf
psutil
typing_extensions
packaging
pillow
tenacity
tornado
watchdog==3.0.0

# Parsing & formatting
beautifulsoup4
soupsieve
charset-normalizer
idna
urllib3
python-dateutil
pytz
tzdata

# Optional: only install on Windows
pywin32==311; platform_system == "Windows"
